body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Assets/images/bg.jpg');
    background-color: #F0F8FF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Override bootstrap.css navbar class*/
.navbar {
    background-color: #006DB0;
    border-bottom-color: #fff;
}

/*div {
    padding-top: 5px;
}*/

div img {
    width: 100%;
}

.navbar a {
    color: #fff !important;
}

    .navbar a:hover {
        color: #85C33E !important;
    }


/*Mobile layout using Media queries*/
/* For smaller screens */
@media (max-width: 900px) {
    body {
        background: #F0F8FF;
    }

    .navbar {
        background-color: #008de3;
        border-bottom-color: #fff;
    }

    /*Important: Reformats the table so it looks cleaner on a smaller screen resolution*/
    /*Based off: https://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    tr {
        margin: 0 0 5px 0;
    }

        tr:nth-child(odd) {
            background: #85C33E;
        }

    td {
        border: none;
        border-bottom: 1px solid #808080;
        position: relative;
        padding-left: 50%;
        text-align:center;
    }

        td:before {
            position: absolute;
            display:inline-block;
            height: 85px;
            top: 3px;
            left: 5px;
            width: 45%;
            padding-right: 10px;
            white-space: normal;
            text-align:left;
        }

        td:before {
            content: attr(data-th);
        }
    }
