body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Assets/images/bg.jpg');
    background-color: #F0F8FF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Override bootstrap.css navbar class*/
.navbar {
    background-color: #006DB0;
    border-bottom-color: #fff;
}

/*div {
    padding-top: 5px;
}*/

div img {
    width:100%;
}

.navbar a {
    color: #fff !important;
}
        .navbar a:hover {
            color: #85C33E !important;
        }


/*Mobile layout using Media queries*/
/* For smaller screens */
@media (max-width: 1024px) {
    body {
        background: #F0F8FF;
    }
    .navbar {
        background-color: #008de3;
        border-bottom-color: #fff;
    }

    /*Important: Reformats the table so it looks cleaner on a smaller screen resolution*/
    table, thead, tbody, th, td, tr {
        display: block;
    }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        margin: 0 0 1rem 0;
    }

        tr:nth-child(odd) {
            background: #ccc;
        }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
}