body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../Assets/images/bg.jpg');
    background-color: #F0F8FF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Ovverride bootstrap.css navbar class*/
.navbar {
    background-color: #006DB0;
    border-bottom-color: #fff;
}

/*div {
    padding-top: 5px;
}*/

div img {
    width:100%;
}

/*Err... idk what css property is handling this in the bootstrap.css file 
    (because there's like 10980239809234 .navbar properties and variants) 
    but it's not changing the link color rip... mvc y u so complicated for*/
.navbar-right li a {
    color: #F9FFFF;
}
        .navbar a:hover {
            color: #85C33E;
        }