@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<img src="@Url.Content("~/Assets/images/3.jpg")" alt="Medical staff" />

<p>At Pharm4me, we know how time-consuming getting your prescriptions can be. There are many factors that can stop you from retrieving your prescriptions due to personal, work, time, and many others that we come across our daily lives. We aim to bring your medical needs closer and more convenient to home by developing a prescription pick-up system. With just a few clicks and a bit of form filling, your presecriptions will be prepared by our selected and approved pharmacies while you wait in your comfort zone. It definitely beats walking around aimlessy in the store or waiting in your car for your prescription to be ready. <i>Convenient?</i> We'd say so. </p>

<h3>How it works</h3>
<p>A quick summary of how Pharm4Me works: Register. Order. Pick-up.</p>
<h4>Register</h4>
<p>In order to make an account with Pharm4Me, you first need to consult with your doctor/specialist if they are affiliated with our services. If they are, request for your unique ID and you will be able to create your login information. Personal information will already be pre-filled for you since your doctor would have done so beforehand. Worried about privacy? Your information will not be on our system unless you request an ID from your doctor/specialist. </p>
<p>If your doctor/specialist is not affiliated with our service, unfortunately you will not be able to use Pharm4Me. However, what you can do is have your doctor/specialist contact us and we can set up an arrangement to have this service accecssible to you. Give them our contact information or send us an email with your clinic's contact information and we can chat on your behalf.</p>
<br />
<h4>Order</h4>
<p>Once your account has been successfully made, you can start placing precription orders! Select the prescription you have available to pick-up and from there you only need to specify <b>two</b> things: the place you will pick your prescription from and the time you will pick it up. Just like that, the pharmacists at the specified location will begin preparing your prescription. Be sure to bring a form of ID and payment upon pick-up. ID is required to ensure you are receiving the correct prescription, but others may be able to pick up the prescription on your behalf (given the criteria).</p>
<br />
<h4>Pick-up</h4>
<p>Upon arriving, the pharmacist will begin the prescription checkout. They will check your ID and confirm your prescription order with you. If you need to cover a payment, it will be done and if not, you're good to go.</p>

<p><i>Simple?</i> We'd say so.</p>

