@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

<img src="~/Assets/images/contact.jpg" alt="Contact banner" />
<p>As we currently do not have an established place for our main office right now, our email is open 24/7 should you have any questions, concerns or even inquiries about our services. Replies to our email are rougly 2-4 business days. Don't hesistate! Every question asked by you will be answered to the best of our abilities to ensure your use of our services meets your standards. We're more than happy to assist you with what you may need when using our service.</p>

<address>
    <strong>Inquiries:</strong> <a href="mailto:Inquiries@example.com">Inquiries@example.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>